*
{
    
    font-family: 'Roboto', sans-serif;
    padding: 0px;
    margin: 0px
}
nav
{
    height: 80px;
    display: flex;  
    justify-content: center;
    gap: 30%;
}
header
{
    background-color: #1f2937;  
}

.header-logo
{
    color: white;
    font-size: 24px;
    line-height: 80px;
    margin-left: 100px;
    margin-right: 100px;
}
.header-links 
{
    line-height: 80px;
}
.header-links a
{
    font-size: 24px;
    text-decoration: none;
    color: white;
    margin-left: 30px;
    margin-right: 30px;
}
#hero
{
    display: flex;
    justify-content: center;
    gap: 25%;

}
.hero-text
{
    color: white;
}
.hero-text h1
{
    text-align: justify;
}.hero-text p
{

}
.hero-text button
{
    background-color: blue;
    color: white;
    text-align: center;
}
.hero-buton
{
    display: flex;
    justify-content: center;
}
#hero img
{
    width: 500px;
    height: 300px;
}

