*
{
    font-family: 'Roboto', sans-serif;
    padding: 0px;
    margin: 0px
}
nav
{
    background-color: #1f2937;
    height: 80px;
    display: flex;
    justify-content: center;
    gap: 30%;
}
.header-logo
{
    color: white;
    font-size: 24px;
    line-height: 80px;
    margin-left: 100px;
    margin-right: 100px;
}
.header-links 
{
    float: right;
    line-height: 80px;
}
.header-links a
{
    font-size: 24px;
    text-decoration: none;
    color: white;
    margin-left: 30px;
    margin-right: 30px;
}