*
{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    list-style: none;
}
nav 
{
    height: 80px;
    background-color: #1f2937;
}
.p
{
    margin-top: 26px;
    color: white;
    font-size: 24px;
    font-weight: bold;
}
nav a 
{
    float: right;

}